.header {
    background-color: #3f50b5;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form {
    max-width: 560px;
    margin: 0 auto;

    display: flex;

    border-radius: 4px;
    background-color: #ffffff;
}

.formInput {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.6em 0.8em 0.6em 0;
    width: 100%;

    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #242424;
}

.formBtn {
    border: none;
    padding: 0.6em 1em 0.6em 1em;

    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.3s linear;
}

.searchIcon {
    fill: #242424;
}
